:root {
  /* Color */
  --osu-black: #000000;
  --osu-scarlet: #BB0000;
  --osu-gray: #666666;
  --osu-white: #FFFFFF;
  --osu-light-gray: #B0B0B0;
  --osu-dark-gray: #333333;
  --osu-near-black: #1a1a1a;
  --shadow-color: rgba(0, 0, 0, 0.65);
  /* Fonts */
  --heading-font: "Stardos Stencil", Arial, serif;
  --text-font: "Allerta Stencil", Arial, serif;

  --main-padding: 10px;
  --debug-mode: 0px; /* 0 = off, 1 = on */
}

@font-face 
{
  font-family: "Stardos Stencil";
  src: url("../fonts/stardos-stencil-regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face 
{
  font-family: "Stardos Stencil";
  src: url("../fonts/stardos-stencil-bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face 
{
  font-family: "Allerta Stencil";
  src: url("../fonts/allerta-stencil-regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

[data-theme="light"] {
  --main-bg: var(--osu-light-gray);
  --main-text: var(--osu-black);
  --header-bg: var(--osu-gray);
  --header-text: var(--osu-black);
  --border-color: var(--osu-black);
  --menu-bg: var(--osu-gray);
  --menu-text: var(--osu-white);
  --menu-hover-bg: #bb000050;
  --menu-hover-text: var(--osu-white);
  --menu-active-bg: var(--osu-scarlet);
  --menu-active-text: var(--osu-white);
  --dark-mode-bg: var(--osu-scarlet);
  --dark-mode-text: var(--osu-white);
  --form-bg: var(--osu-white);
  --form-border: var(--osu-black);
  --form-text: var(--osu-dark-gray);
  --control-border: var(--osu-dark-gray);
  --footer-bg: var(--osu-gray);
  --footer-text: var(--osu-white);

  --ballistic-card-bg: var(--osu-white);
  --info-card-bg: var(--osu-white);
  --info-card-text: var(--osu-black);

  --modal-bg: var(--osu-light-gray);

  --mobile-menu-bg: #333333ee ;
}

[data-theme="dark"] {
  --main-bg: var(--osu-near-black);
  --main-text: var(--osu-white);
  --header-bg: var(--osu-dark-gray);
  --header-text: var(--osu-white);
  --border-color: var(--osu-scarlet);
  --menu-bg: var(--osu-dark-gray);
  --menu-text: var(--osu-white);
  --menu-hover-bg: #bb000050;
  --menu-hover-text: var(--osu-white);
  --menu-active-bg: var(--osu-scarlet);
  --menu-active-text: var(--osu-white);
  --dark-mode-bg: darkgreen;
  --form-bg: var(--osu-dark-gray);
  --form-border: var(--osu-gray);
  --form-text: var(--osu-white);
  --control-border: var(--osu-light-gray);
  --footer-bg: var(--osu-dark-gray);
  --footer-text: var(--osu-white);

  --ballistic-card-bg: var(--osu-gray);
  --info-card-bg: var(--osu-gray);  

  --modal-bg: var(--osu-dark-gray);
  
  --mobile-menu-bg: #000000dd ;

  --shadow-color: rgba(255, 255, 255, 0.1);

  --info-card-text: var(--osu-white);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Header ===*/

header 
{
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
    border-bottom: var(--border-color) 2px solid;       
}

h1, h2, h3
{
    font-family: var(--heading-font);
}

h1 
{
    font-size: 1.75em;
    margin: 0;
}

.logo 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img 
{
    width: 77px;
    height: 77px;
    border-radius: 10px;
    border: 1px solid var(--osu-scarlet);
    box-shadow: 0 2px 5px var(--shadow-color);
}

.logo span 
{
    font-family: var(--heading-font);
    font-size: 1.5em;
    color: var(--menu-text);
    margin: 0;
}

main 
{
    background-color: var(--main-bg);
    color: var(--main-text);
    padding: 20px;
    min-height: calc(100vh - 150px); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 60px;
}

nav ul 
{
    background-color: var(--mobile-menu-bg);
    list-style: none;
    display: none;
    flex-direction: column;
    /* position: absolute; */
    position: fixed;
    top: 99px;
    left: 0;
    width: 100%;
    height: calc(100vh - 99px);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

nav ul.active 
{
    display: flex;
}

nav ul li 
{
    margin: 15px 0;
    text-align: center;
}

nav ul li a 
{
    display: inline-block;
    color: var(--menu-text);
    font-family: var(--heading-font);
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover 
{
    color: var(--menu-hover-text);    
    /* background-color: var(--menu-hover-bg); */
    background-color: var(--menu-hover-bg);
    border: var(--osu-scarlet) 1px solid;

    transform: scale(1.2);
}

nav ul li a.active 
{
    color: var(--menu-active-text);
    background-color: var(--menu-active-bg);
    font-weight: bold;
} 

/* Hamburger Menu */
.hamburger 
{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger span {

    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--menu-text);
    margin: 5px 0;
    transition: all 0.3s ease-out;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Toggle switch styles */
.toggle-wrapper 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-container 
{
    width: 75px;
    height: 32px;
    background-color: var(--dark-mode-bg);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    border: var(--osu-gray) 1px solid;
}

.toggle-slider 
{
    width: 26px;
    height: 26px;
    background-color: var(--osu-light-gray);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px var(--shadow-color);
    z-index: 1;
    border: var(--osu-near-black) 1px solid;
}

.toggle-container.on 
{
    background-color: var(--dark-mode-bg);
}

.toggle-container.on .toggle-slider 
{
    transform: translateX(45px);
}

.toggle-text 
{
    font-family: var(--heading-font);
    font-size: 0.9em;
    color: var(--osu-white);
    user-select: none;
    z-index: 2;
    width: 100%;
    text-align: right;
    transition: text-align 0.3s ease;
    margin-top: 1px; /* fine Adjustment for vertical alignment */   
}

.toggle-container.on .toggle-text 
{
    text-align: left;
}

/* Form Wrapper Common Format*/

.form-wrapper 
{
    width: 100%;
    max-width: min(90vw, 420px); 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: var(--main-padding);    
}

.form-wrapper form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: var(--form-bg);
    border: 1px solid var(--form-border);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.form-wrapper form label 
{
    font-family: var(--text-font);
    color: var(--form-text);
}

.form-wrapper form input,
.form-wrapper form textarea 
{
    font-family: var(--text-font);
    padding: 8px;
    border: 1px solid var(--control-border);
    border-radius: 5px;
    background-color: var(--form-bg);
    color: var(--form-text);
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.form-wrapper form textarea 
{
    height: 150px;
    resize: vertical;
}

.form-wrapper form input:focus,
.form-wrapper form textarea:focus 
{
    border-color: var(--osu-scarlet);
    outline: none;
}

.form-wrapper form button 
{
    font-family: var(--text-font);
    background-color: var(--osu-scarlet);
    color: var(--osu-white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-wrapper form button:hover,
.form-wrapper form button:focus 
{
    background-color: var(--osu-gray);
}

#calcForm
{
    margin-top: 20px;
}

/* Main Container */

.main-container
{
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    gap: 10px;
    padding: var(--main-padding);

    border: blue var(--debug-mode) solid;
}

.ballistic-calculator
{
    width: 100%;
    height: auto;    
    
    border: red var(--debug-mode) solid;    
}

.ballistic-calculator h1
{
    text-align: center;
    border: purple var(--debug-mode) solid;
}

.ballistic-cards
{
    width: 100%;    
    max-width: min(90vw, 420px);
    padding: var(--main-padding);

    border: green var(--debug-mode) solid;
}

.ballistic-card
{
    width: 100%;
    max-width: min(90vw, 420px);
    background-color: var(--ballistic-card-bg);
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.ballistic-card h2 
{
    font-family: var(--heading-font);
    margin-bottom: 10px;
}

/* Tables */

.ballistic-card table
{
    width: 100%;
    border-collapse: collapse;
    /* box-shadow: 0 2px 5px var(--shadow-color);  */
} 

.ballistic-card th,
.ballistic-card td 
{
    background-color: var(--form-bg);
    border: 1px solid var(--osu-gray);
    padding: 8px;
    font-size: small;
    text-align: center;
    color: var(--text-color);
}

#ammoTable,
#resultsTableBody 
{
    min-height: 150px;
}

.ballistic-card th 
{
    font-family: var(--heading-font);
    background-color: var(--osu-scarlet);
    color: var(--osu-white);
}

.ballistic-card canvas
{    
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    width: 100%;

    border: var(--border-color) 1px solid;    
}

/* About Container */

.about-container
{
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    gap: 10px;
    padding: var(--main-padding);

    border: blue var(--debug-mode) solid;
}

.info-cards
{
    width: 100%;    
    max-width: min(90vw, 420px);
    padding: var(--main-padding);
    margin: 0 auto;

    border: green var(--debug-mode) solid;    
}

.info-card
{
    width: 100%;
    max-width: min(90vw, 420px);
    background-color: var(--info-card-bg);
    border-radius: 10px;
    margin: 20px 0;
    border: var(--border-color) 1px solid;    
    box-shadow: 0 2px 5px var(--shadow-color);
}

.card-header 
{
    background-color: var(--osu-scarlet);
    color: var(--osu-white);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: var(--main-padding)
}

.card-content  
{
    padding: var(--main-padding);
    font-family: var(--text-font);
    color: var(--info-card-text);
    line-height: 1.6;
    overflow: auto;
}

.card-content ul
{
    margin : var(--main-padding) 0;
    margin-left: 20px;
}


.marksmanship-image,
.trajectory-formula-image
{
    float: left;
    width: 100px;
    height: 83px;
    margin: 0 10px;
    border: var(--border-color) 1px solid;
    box-shadow: 0 2px 5px var(--shadow-color);  
}

.trajectory-formula-image
{    
    float: right;
}

/* Contact Container */

.contact-container
{
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    gap: 10px;
    padding: var(--main-padding);

    border: blue var(--debug-mode) solid;
}

.contact-section
{
    width: 100%;
    max-width: min(90vw, 420px);
    padding: var(--main-padding);
    margin: 0 auto;

    border: green var(--debug-mode) solid;    
}

.contact-section p
{
    font-family: var(--text-font);
}

.contact-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: var(--main-padding);
}

/* Contact Modal */

#contactModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--osu-scarlet);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--form-bg);
    max-width: 800px;
    width: 90vw; /* Use viewport width for responsive scaling */
    max-height: 80vh; /* Limit height to avoid overflow */
    overflow: hidden; /* Ensure no scrollbar */
    font-family: var(--text-font);
    color: var(--form-text);
    z-index: 100;
    box-sizing: border-box;
    text-align: center;
}

#contactModal h3, 
#contactModal p 
{
    color: var(--form-text);
    margin: 0 auto 15px; 
    width: 100%; 
}

#contactModal button {
    display: block;
    margin: 0 auto;
    background-color: var(--osu-scarlet);
    color: var(--osu-white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--text-font);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contactModal button:hover {
    background-color: var(--osu-gray);
}

#contactModal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* === Footer === */
footer 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;

    font-family: var(--text-font);
    font-size: small;

    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 10px;
    border-top: var(--border-color) 2px solid;    
}

.footer-container-edge
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 35px;    
}

.footer-container-center
{
    display: grid;
    grid-template-columns: 100%; 
    align-items: center;
    margin: 0 auto;   
}

.footer-container-edge a,
.footer-container-edge a
{
    color: var(--footer-text);
    text-decoration: none;
        
    padding: 5px 10px;
    border-radius: 5px;    
}

.footer-container-edge a:hover,
.footer-container-edge a:hover
{   
    background-color: var(--menu-hover-bg);
    border: var(--osu-scarlet) 1px solid;

    transform: scale(1.1);    
}


/* .footer-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px; 
    margin: 0 auto;   
}

.footer-container p,
.footer-container span,
.footer-container a 
{
    font-family: var(--text-font);
    margin: 0;
    font-size: small;       
}

.footer-container a 
{
    color: var(--footer-text);
    text-decoration: none;
} */

#attributions-modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 20px 0;
    background-color: var(--modal-bg);
    max-width: 800px;
    width: 90vw; /* Use viewport width for responsive scaling */
    max-height: 80vh; /* Limit height to avoid overflow */
    overflow: hidden; /* Ensure no scrollbar */
    font-family: var(--text-font);
    color: var(--form-text);
    z-index: 100;
    box-sizing: border-box;
    text-align: center;    
}

#attributions-modal::backdrop 
{
    background-color: rgba(0, 0, 0, 0.5);
}

#attributions-modal button
{
    display: block;
    margin: 0 auto;
    background-color: var(--osu-scarlet);
    color: var(--osu-white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--text-font);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px var(--shadow-color);    
}

#attributions-modal button:hover 
{
    background-color: var(--osu-gray);
}

#contributors
{
    overflow-y: auto;
    max-height: 600px; 
    box-sizing: border-box;
    padding: 30px;
    margin: 20px 0;       
}

#contributors h3 
{
    margin: 0;    
}

.ballistic-card td, 
.ballistic-card th 
{
    font-family: var(--text-font);
    font-size: 0.65em;
}