#cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    border-top: var(--border-color) solid 2px;
}

#cards section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    /* background-color: var(--osu-light-gray); */
    border-radius: 5px;
    border: var(--osu-scarlet) solid 1px;
    box-shadow: 3px 3px 10px var(--shadow-color);    
}

#cards section h2
{    
    font-family: var(--heading-font);
    font-size: 1em;
    color: var(--heading-color);
    text-align: center;
}

#cards section p
{
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--osu-gray);
    text-align: center;
}

