@media (min-width: 768px) 
{
    nav ul 
    {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        gap: 20px;
    }

    nav ul li 
    {
        margin: 0;
    }

    .hamburger 
    {
        display: none;
    }
    
    .home-container 
    {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 20px;
        padding: 40px; 
    }
    
    .hero 
    {
        grid-column: 1;
    }
    
    .results 
    {
        grid-column: 2;
    } 

    .logo h1 
    {
        font-size: 2em;
    }

    .ballistics-container th,
    .ballistics-container td
    {   
        font-size: large;
    }
    
}