@media only screen and (min-width: 600px) {
    .profile-name {
        font-size: 2.5em;
    }

    /* hamburger menu */
    #hamburger-menu {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background: none;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        z-index: auto;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 0;
    }

    .nav-link {
        font-size: medium;
        padding: 8px 12px;
    }

    .info-cards {
        flex-direction: row;
    }

    .filter-button {
        font-size: medium;
    }

    .filtered-courses {
        grid-template-columns: 50% 50%;
    }

    .course-button {
        font-size: small;
    }

    
    .footer-container a 
    {        
        font-size: large !important;
    }
}