:root
{
    /* --menu-background-color: #999; */
    --border-color: #646a6e;
    --red-accent-color: #ba0c2f;

    --heading-color: #3f4443;

    --heading-font: "Stardos Stencil", serif;
    --text-font: "Allerta Stencil", serif;

    --shadow-color: rgba(0, 0, 0, 0.65);
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;    
    padding: 0;
    box-sizing: border-box;     
}

body 
{
    font-family: var(--text-font);
    color: var(--heading-color);    
    min-width: 320px;
}

/* Header */

header 
{
    margin: 0 auto;
    width: 100%;
    color: var(--heading-color);        
}

header a
{
    text-decoration: none; 
}

.header-top 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Profile */

.profile-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-grow: 1;
    padding: 15px 0;
}

.profile-image 
{
    width: 128px;
    height: 177px;
    object-fit: cover;
    border-radius: 8px;
    border: var(--red-accent-color) solid 1px;
    box-shadow: 5px 5px 7px var(--shadow-color);
}

.profile-name 
{
    font-family: var(--heading-font);
    font-size: 2.5em;
    font-weight: bold;
}

/* Navigation */

#desktop-menu 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 100%;
}

#desktop-menu li 
{
    padding: 5px;
    color: var(--heading-color);
}

#desktop-menu li:hover 
{
    transform: scale(1.1);
    transition: 0.3s;    
}


/* Footer */

footer 
{
    font-family: var(--text-font);
    font-size: small;
    text-align: center;  
    border-top: 2px solid var(--border-color);
    padding: 10px;
}

footer p 
{
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
}

footer img 
{
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

/* Swithch to Mobile View */
@media screen and (max-width: 768px) 
{
    .profile-name 
    {
        font-size: 1.5em;
    }
    
    #hamburger-icon
    {
        display: block;
        border: red solid 1px;     
    }

    #desktop-menu 
    {
        display: none;
    }

    #mobile-menu 
    {
        display: block;               
    }

    footer 
    {
        font-size: xx-small;
    }
}