/* Media Query */

@media (min-width: 768px) 
{
    .mobile-menu 
    {
      display: none;
    }

    .hamburger-menu 
    {
      display: none;
    }

    .nav-menu 
    {
      display: flex;
    }    
  }