/* Hamburger Icon */

#hamburger-menu 
{
    margin: 0;
    display: none;
    cursor: pointer;
    padding-right: 15px;
    z-index: 1000;
}

#hamburger-menu div 
{
    width: 25px;
    height: 3px;
    background-color: var(--heading-color);
    margin: 6px 0;
    transition: 0.4s;    
}

.open .top-bar
{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .middle-bar
{
    opacity: 0;
}

.open .bottom-bar
{
    -webkit-transform: rotate(45deg) translate(-6px, -7px);
    transform: rotate(45deg) translate(-6px, -7px);
}

@media only screen and (max-width: 599px) 
{
    .main-container
    {
          
    }
}